CONFIG_MIPS=y
CONFIG_MACH_PIC32=y
CONFIG_SOC_PIC32MZDA=y
CONFIG_TARGET_PIC32MZDASK=y
CONFIG_SYS_LITTLE_ENDIAN=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_HUSH_PARSER=y
CONFIG_SYS_PROMPT="dask # "
CONFIG_CMD_NET=y
CONFIG_CMD_TIME=y
# CONFIG_CMD_IMLS is not set
CONFIG_SUPPORT_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="pic32mzda_sk"
CONFIG_DM=y
CONFIG_CMD_DM=y
CONFIG_DM_SERIAL=y
CONFIG_PIC32_SERIAL=y
CONFIG_CLK=y
CONFIG_PINCTRL=y
# CONFIG_PINCTRL_FULL is not set
CONFIG_PIC32_PINCTRL=y
CONFIG_DM_MMC=y
CONFIG_PIC32_SDHCI=y
CONFIG_DM_GPIO=y
CONFIG_CMD_GPIO=y
CONFIG_PIC32_GPIO=y
CONFIG_NET=y
CONFIG_DM_ETH=y
CONFIG_PHYLIB=y
CONFIG_NETDEVICES=y
CONFIG_PIC32_ETH=y